@media screen and (min-width:900px) {
    [class="page-wrapper"] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-between;

    }

    [class="preamble"] {
        width: 64%;
        margin: 0, 0;
        display: inline-block;
    }

    [class='intro'] {
        width: 100%;

        & .summary {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 2%;

            p:first-child {
                margin: 0 100px 0 -15px;
                padding-left: 25px;
                width: 90vw;
            }

            p:nth-child(2) {
                padding-right: 75px;
                font-size: larger;
            }
        }
    }

    [class='sidebar']{
        width: 33%;
        margin-top: -338px;
        & div{
            padding-top: 18px;
        }
    }

    [class='wrapper'] {
        width: 100%
    }

    [class="main supporting"] {
        width: 64%;
        overflow-x: visible;

        & footer {
            width: 87vw;
        }
    }
}